**1. Обзор данных**

In [583]:
# Импортируем библиотеки, которые нам понадобятся
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats as st

In [584]:
# Считаем данные из csv-файла и сохраняем в переменную data
data= pd.read_csv('/Users/ziyarat/ds_bootcamp/project/_data.csv')

In [585]:
# Выводим основную информацию 
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23368 entries, 0 to 23367
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                23368 non-null  int64
 1   ID  объявления            23368 non-null  int64
 2   Количество комнат         22327 non-null  object
 3   Тип                       23368 non-null  object
 4   Метро                     22053 non-null  object
 5   Адрес                     23368 non-null  object
 6   Площадь, м2               23368 non-null  object
 7   Дом                       23368 non-null  object
 8   Парковка                  9951 non-null   object
 9   Цена                      23368 non-null  object
 10  Телефоны                  23368 non-null  object
 11  Описание                  23368 non-null  object
 12  Ремонт                    20613 non-null  object
 13  Площадь комнат, м2        14458 non-null  object
 14  Балкон                    15390 non-null  object
 15  Окна                      16755 non-null  object
 16  Санузел                   20696 non-null  object
 17  Можно с детьми/животными  17272 non-null  object
 18  Дополнительно             23011 non-null  object
 19  Название ЖК               5848 non-null   object
 20  Серия дома                2163 non-null   object
 21  Высота потолков, м        11206 non-null  float64
 22  Лифт                      17868 non-null  object
 23  Мусоропровод              12846 non-null  object
 24  Ссылка на объявление      23368 non-null  object
dtypes: float64(1), int64(2), object(22)
memory usage: 4.5+ MB

,Unnamed: 0,ID объявления,Количество комнат,Тип,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,...,Окна,Санузел,Можно с детьми/животными,Дополнительно,Название ЖК,Серия дома,"Высота потолков, м",Лифт,Мусоропровод,Ссылка на объявление
0,0,271271157,4,Квартира,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,NaN,NaN,"Можно с детьми, Можно с животными","Мебель в комнатах, Мебель на кухне, Ванна, Душ...","Новый Арбат, 2010",NaN,3.0,"Пасс (4), Груз (1)",Да,https://www.cian.ru/rent/flat/271271157
1,1,271634126,4,Квартира,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.5,"Пасс (1), Груз (1)",Нет,https://www.cian.ru/rent/flat/271634126
2,2,271173086,"4, Оба варианта",Квартира,м. Смоленская (7 мин пешком),"Москва, улица Новый Арбат, 27",200.0/116.0/4.0,5/16,подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с детьми,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",Новый Арбат,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/271173086
3,3,272197456,"4, Оба варианта",Квартира,м. Смоленская (3 мин пешком),"Москва, переулок Плотников, 21С1",170.0/95.0/17.0,5/6,подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",...,На улицу и двор,Совмещенный (3),Можно с животными,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",NaN,NaN,3.2,Пасс (1),NaN,https://www.cian.ru/rent/flat/272197456
4,4,273614615,2,Квартира,м. Арбатская (7 мин пешком),"Москва, улица Новый Арбат, 15",58.0/38.0/5.0,"12/26, Панельный",NaN,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",...,На улицу и двор,Совмещенный (2),NaN,"Мебель в комнатах, Мебель на кухне, Ванна, Душ...",The Book,NaN,3.9,"Пасс (1), Груз (1)",Да,https://www.cian.ru/rent/flat/273614615

In [586]:
data.columns

Index(['Unnamed: 0', 'ID  объявления', 'Количество комнат', 'Тип', 'Метро',
       'Адрес', 'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Телефоны',
       'Описание', 'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел',
       'Можно с детьми/животными', 'Дополнительно', 'Название ЖК',
       'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод',
       'Ссылка на объявление'],
      dtype='object')

**2. Предобработка данных**

*2.1. Переименование колонок*

In [587]:
# Переводим название колонок на английский

# Чтобы не составлять вручную словарь 
# from deep_translator import GoogleTranslator
# translator = Translator()

# # Перевод названий столбцов
# new_columns = {}
# for col in data.columns:
#     translation = translator.translate(col, dest='en').text
#     new_columns[col] = translation

# # Переименование столбцов
# data = data.rename(columns=new_columns)

# Здесь что-то пошло не так

In [588]:
# Составляем словарь вручную
translation_dict = {
    'Unnamed: 0': 'Unnamed: 0', 
    'ID объявления': 'ad ID',
    'Количество комнат': 'Number of Rooms',
    'Тип': 'Property Type',
    'Метро': 'Subway Station',
    'Адрес': 'Address',
    'Площадь, м2': 'Area, sq m',
    'Дом': 'Building',
    'Парковка': 'Parking',
    'Цена': 'Price',
    'Телефоны': 'Phone Numbers',
    'Описание': 'Description',
    'Ремонт': 'Renovation',
    'Площадь комнат, м2': 'Room Area, sq m',
    'Балкон': 'Balcony',
    'Окна': 'Windows',
    'Санузел': 'Bathroom',
    'Можно с детьми/животными': 'Children/Pets Allowed',
    'Дополнительно': 'Additional Information',
    'Название ЖК': 'Residential Complex Name',
    'Серия дома': 'Building Series',
    'Высота потолков, м': 'Ceiling Height, m',
    'Лифт': 'Elevator',
    'Мусоропровод': 'Garbage Chute',
    'Ссылка на объявление': 'Ad Link'}
    
# Переименование столбцов
data = data.rename(columns=translation_dict)

In [589]:
# Приведем название столбцов к нижнему регистру
data.columns = data.columns.str.lower()

In [590]:
# Заменяем пробелы и прочие знаки на нижние подчеркивания
data.columns = data.columns.str.replace(r'[ :\/,]', '_', regex=True)
data.columns = data.columns.str.replace('__', '_')

In [591]:
data.columns

Index(['unnamed_0', 'id_объявления', 'number_of_rooms', 'property_type',
       'subway_station', 'address', 'area_sq_m', 'building', 'parking',
       'price', 'phone_numbers', 'description', 'renovation', 'room_area_sq_m',
       'balcony', 'windows', 'bathroom', 'children_pets_allowed',
       'additional_information', 'residential_complex_name', 'building_series',
       'ceiling_height_m', 'elevator', 'garbage_chute', 'ad_link'],
      dtype='object')

In [592]:
# название данной колонки не перевелось на анг.
# переводим на английский
data = data.rename(columns={'id_объявления': 'id_ad'})
data.columns

Index(['unnamed_0', 'id_ad', 'number_of_rooms', 'property_type',
       'subway_station', 'address', 'area_sq_m', 'building', 'parking',
       'price', 'phone_numbers', 'description', 'renovation', 'room_area_sq_m',
       'balcony', 'windows', 'bathroom', 'children_pets_allowed',
       'additional_information', 'residential_complex_name', 'building_series',
       'ceiling_height_m', 'elevator', 'garbage_chute', 'ad_link'],
      dtype='object')

In [593]:
# Проверяем наличие дубликатов по id_ad
data['id_ad'].duplicated().sum()

0

In [594]:
# Фильтруем строки, где указана Москва
moscow_df = data[data['address'].str.contains('Москва', case=False)]

*2.2. Удаление не нужных признаков*

In [595]:
# Удаляем признаки существенно не влияющие на стоимость аренды жилья
moscow_data = moscow_df.drop(['id_ad', 'phone_numbers', 'additional_information', 'ad_link', 'children_pets_allowed', 'windows', 'room_area_sq_m', 'description'], axis = 1)

In [596]:
# Проверка уникальных значений 
moscow_data['property_type'].sort_values().unique()

array(['Квартира'], dtype=object)

In [597]:
# Учитывая, что тип данных везде 'квартира' удаляем данный столбец
moscow_data.drop(columns=['property_type'], inplace=True)

*2.3. Удаление пропущенных значений*

In [598]:
# Определим количество пропущенных значений для каждого столбца комбинацией 2-х методов
moscow_data.isna().sum()

unnamed_0                       0
number_of_rooms               535
subway_station                346
address                         0
area_sq_m                       0
building                        0
parking                     11174
price                           0
renovation                   2463
balcony                      6630
bathroom                     2041
residential_complex_name    15281
building_series             17646
ceiling_height_m             9202
elevator                     4192
garbage_chute                8007
dtype: int64

*11 колонок имеют пропущенные значения*

In [599]:
# Определим процент пропущенных значений в каждом столбце
pd.DataFrame(round(moscow_data.isna().mean()*100,1)).style.background_gradient('coolwarm')
# или data.isna().sum ()/ len(data)* 100

*Удаление строк с пропущенными значениями*
- Удаление строк приводит к тому, что при дальнейших вычислениях используется не вся доступная информация, стандартные отклонения возрастают, полученные результаты становятся менее репрезентативными, поэтому удаляем строку, если только все значения отсутствуют

In [600]:
moscow_data.dropna(axis=0,inplace=True, how='all')
moscow_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19737 entries, 0 to 23367
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   unnamed_0                 19737 non-null  int64
 1   number_of_rooms           19202 non-null  object
 2   subway_station            19391 non-null  object
 3   address                   19737 non-null  object
 4   area_sq_m                 19737 non-null  object
 5   building                  19737 non-null  object
 6   parking                   8563 non-null   object
 7   price                     19737 non-null  object
 8   renovation                17274 non-null  object
 9   balcony                   13107 non-null  object
 10  bathroom                  17696 non-null  object
 11  residential_complex_name  4456 non-null   object
 12  building_series           2091 non-null   object
 13  ceiling_height_m          10535 non-null  float64
 14  elevator                  15545 non-null  object
 15  garbage_chute             11730 non-null  object
dtypes: float64(1), int64(1), object(14)
memory usage: 2.6+ MB

*Количество строк не изменилось, значит, таковые отсутствовали*

In [601]:
# Пропущенные значения в колонке number_of_rooms невозможно заменить и учитывая, что пропуски менее 3% удаляем строки с пропущенными значениями
moscow_data.dropna(subset=['number_of_rooms'], inplace=True)

*Удаление колонок с пропущенными значениями*
- Большое количество пропущенных значений в признаках: 
 - residential_complex_name - 74%
 - building_series - 89% 

Так как название ЖК имеют в основном новый жилой фонд, а серию дома расшифровывать умеют не все, и учитывая, что имеется признак - address, удаление residential_complex_name, building_series не влияет на репрезентативность данных

In [602]:
moscow_data.drop(['residential_complex_name', 'building_series'], axis=1, inplace=True)

*2.4 Замена пропущенных значений*

*Пропущенные значения признаков заменяем на 0*

Пропущенные значения следующих признаков заменяем на 0: 
- subway_station - 2 % 
- parking - 57 % 
- renovation - 13% 
- balcony - 34% 
- garbage_chute - 41%

Такие признаки как: наличие рядом станции метро, парковки, свежего ремонта, балкона, мусоропровода являются преимуществом при сдаче в аренду жилья, если эти данные не указаны, то скорее всего данные признаки отсутствуют. Соответственно мы их заменяем на 0

In [603]:
moscow_data['subway_station'] = moscow_data['subway_station'].fillna(0)
moscow_data['parking'] = moscow_data['parking'].fillna(0)
moscow_data['renovation'] = moscow_data['renovation'].fillna(0)
moscow_data['balcony'] = moscow_data['balcony'].fillna(0)
moscow_data['garbage_chute'] = moscow_data['garbage_chute'].fillna(0)

In [604]:
# Согласно требованиям дома с более чем 5 этажей должны иметь лифты
# Функция для извлечения количества этажей
def extract_floors(building):
    return int(building.split('/')[0])
# Применяем функцию к колонке 'building' и создаем новую колонку 'floors'
moscow_data['floors'] = moscow_data['building'].apply(extract_floors)
# Заменяем пропуски в колонке 'elevator' на 1 для домов с более чем 5 этажами
moscow_data.loc[(df['floors'] > 5) & (moscow_data['elevator'].isnull()), 'elevator'] = 1
# Удаляем пропуски 
moscow_data.dropna(subset=['elevator'], inplace=True)

In [605]:
# Пропущенные значения в колонке ceiling_height_m заменяем на среднее значение
# Вычисляем среднее значение колонки 'ceiling_height_m', игнорируя NaN
mean_height = moscow_data['ceiling_height_m'].mean()
# Заменяем пропуски на среднее значение
moscow_data['ceiling_height_m'].fillna(mean_height, inplace=True)

In [606]:
# Разделим данные колонки bathroom на две колонки
moscow_data['Совмещенный'] = moscow_data['bathroom'].apply(lambda x: 'Совмещенный' if isinstance(x, str) and 'Совмещенный' in x else '')
moscow_data['toilet'] = moscow_data['bathroom'].apply(lambda x: 'Раздельный' if isinstance(x, str) and 'Раздельный' in x else '')
# и удаляем колонку bathroom и Совмещенный, так как преимущество имеется если раздельный
moscow_data.drop(['bathroom', 'Совмещенный'], axis=1, inplace=True)

In [607]:
# Проверяем наличие пропусков после обработки
moscow_data.isna().sum()

unnamed_0           0
number_of_rooms     0
subway_station      0
address             0
area_sq_m           0
building            0
parking             0
price               0
renovation          0
balcony             0
ceiling_height_m    0
elevator            0
garbage_chute       0
floors              0
toilet              0
dtype: int64

*2.5 Изменение типов данных*
- Приводим значения всех колонок к числовым типам (int или float)

In [608]:
moscow_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16295 entries, 0 to 23367
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   unnamed_0         16295 non-null  int64
 1   number_of_rooms   16295 non-null  object
 2   subway_station    16295 non-null  object
 3   address           16295 non-null  object
 4   area_sq_m         16295 non-null  object
 5   building          16295 non-null  object
 6   parking           16295 non-null  object
 7   price             16295 non-null  object
 8   renovation        16295 non-null  object
 9   balcony           16295 non-null  object
 10  ceiling_height_m  16295 non-null  float64
 11  elevator          16295 non-null  object
 12  garbage_chute     16295 non-null  object
 13  floors            16295 non-null  int64
 14  toilet            16295 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 2.0+ MB

In [609]:
# Проверка уникальных значений 
moscow_data['number_of_rooms'].sort_values().unique()

array(['1', '1, Изолированная', '1, Оба варианта', '1, Смежная', '2',
       '2, Изолированная', '2, Оба варианта', '2, Смежная', '3',
       '3, Изолированная', '3, Оба варианта', '3, Смежная', '4',
       '4, Изолированная', '4, Оба варианта', '4, Смежная', '5',
       '5, Изолированная', '5, Оба варианта', '5, Смежная', '6',
       '6, Изолированная', '6, Оба варианта', '6, Смежная'], dtype=object)

In [610]:
# Разделение столбца на две новые колонки
moscow_data[['number_of_rooms_only', 'room_type']] = moscow_data['number_of_rooms'].str.split(',', expand=True)
# Удаление пробелов
moscow_data['number_of_rooms_only'] = moscow_data['number_of_rooms_only'].str.strip()
moscow_data['room_type'] = moscow_data['room_type'].str.strip()
# Удаляем колонку 
moscow_data.drop(columns=['number_of_rooms'], inplace=True)
# Замена значений в колонке room_type
# Проверяем наличие пропусков после обработки
moscow_data[['number_of_rooms_only', 'room_type']].isna().sum()
# Заменим пропуски в колонке тип комнат на 'Неизвестно'
moscow_data['room_type'] = moscow_data['room_type'].fillna('Неизвестно')
# Заменим на числовые данные
moscow_data['room_type'] = moscow_data['room_type'].replace({'Неизвестно': 0, 'Изолированная': 1, 'Смежная': 2,'Оба варианта': 3})
# Меняем тип данных колонки number_of_rooms_only
moscow_data['number_of_rooms_only'] = moscow_data['number_of_rooms_only'].astype(int)

In [611]:
# Оставляем объявления, где цены указаны в рублях
rent_df= moscow_data[moscow_data['price'].str.contains('руб.')]

In [612]:
# Оставляем только первую сумму
def extract_price(price):
    numeric_part = price.split('/')[0].strip()  
    numeric_part = numeric_part.split()[0]  
    return int(float(numeric_part))  
#rent_df.loc[:, 'price_'] = rent_df['price'].apply(extract_price)
rent_df = rent_df.assign(price_=rent_df['price'].apply(extract_price))
rent_df.drop('price', axis=1, inplace=True)

In [613]:
# Удаляем название метро, оставляем только растояние до метро
import re
rent_df['distance_to_subway'] = rent_df['subway_station'].str.extract(r'(\d+)\s*мин').astype(float)
rent_df.drop('subway_station', axis=1, inplace=True)
# Пропуски заменяем на 0
rent_df['distance_to_subway'] = rent_df['distance_to_subway'].fillna(0)

In [614]:
rent_df['total_area'] = rent_df['area_sq_m'].str.split('/').str[0].astype(float)
rent_df.drop('area_sq_m', axis=1, inplace=True)

In [615]:
# Преобразовать адреса в тип числовые типы не представляется возможным
rent_df.drop('address', axis=1, inplace=True)

In [616]:
# Заменяем текстовые значения на 1, оставляя другие значения без изменений 
# 0 означает, что отсутствует, 1 - имеется (toilet - имеется раздельный)
rent_df['parking'] = rent_df['parking'].apply(lambda x: 1 if isinstance(x, str) and x.strip() != '0' else x)
rent_df['renovation'] = rent_df['renovation'].apply(lambda x: 1 if isinstance(x, str) and x.strip() != '0' else x)
rent_df['balcony'] = rent_df['balcony'].apply(lambda x: 1 if isinstance(x, str) and x.strip() != '0' else x)
rent_df['elevator'] = rent_df['elevator'].apply(lambda x: 1 if isinstance(x, str) and x.strip() != '0' else x)
rent_df['toilet'] = rent_df['toilet'].apply(lambda x: 1 if isinstance(x, str) and x.strip() != '0' else x)

rent_df['garbage_chute'] = rent_df['garbage_chute'].replace({'да': 1, 'нет': 0})
rent_df['garbage_chute'] = rent_df['garbage_chute'].apply(lambda x: 1 if isinstance(x, str) and x.strip() != '0' else x)

In [617]:
# Оставляем значение этажность дома в новой колонке
def extract_home(building):
    return int(building.split('/')[1].strip().split(',')[0])
rent_df['home'] = rent_df['building'].apply(extract_home)
# Удаляем колонку building
rent_df.drop('building', axis=1, inplace=True)

In [618]:
# Проверяем все ли значения числовые 
rent_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16274 entries, 0 to 23367
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   unnamed_0             16274 non-null  int64
 1   parking               16274 non-null  int64
 2   renovation            16274 non-null  int64
 3   balcony               16274 non-null  int64
 4   ceiling_height_m      16274 non-null  float64
 5   elevator              16274 non-null  int64
 6   garbage_chute         16274 non-null  int64
 7   floors                16274 non-null  int64
 8   toilet                16274 non-null  int64
 9   number_of_rooms_only  16274 non-null  int64
 10  room_type             16274 non-null  int64
 11  price_                16274 non-null  int64
 12  distance_to_subway    16274 non-null  float64
 13  total_area            16274 non-null  float64
 14  home                  16274 non-null  int64
dtypes: float64(3), int64(12)
memory usage: 2.0 MB

In [619]:
# Итоговый df
# Сохраните обработанный DataFrame в новый файл
rent_df.to_csv('gz_data.csv', index=False)